@{
    ViewData["Title"] = "Home Page";
}
@model List<cibiModel>

<div class="text-center">
    <h1 class="display-4">MENU</h1>
    <ul>
        @foreach (var item in Model)
        {
            <li><span>@item.Nome</span><span>@item.Prezzo</span> </li>
        }
    </ul>
</div>
