@model Progetto_Pizzeria.Models.ProdottoViewModel

@{
    ViewData["Title"] = "Crea Prodotto";
}

<h1>Crea Pizza</h1>

<form asp-action="CreaProdotto" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group my-3">
        <label asp-for="Prodotto.Nome" class="control-label"></label>
        <input asp-for="Prodotto.Nome" class="form-control" />
        <span asp-validation-for="Prodotto.Nome" class="text-danger"></span>
    </div>
    <div class="form-group my-3">
        <label asp-for="Prodotto.Prezzo" class="control-label"></label>
        <input asp-for="Prodotto.Prezzo" class="form-control" />
        <span asp-validation-for="Prodotto.Prezzo" class="text-danger"></span>
    </div>
    <div class="form-group my-3">
        <label asp-for="Prodotto.Immagine" class="control-label"></label>
        <input asp-for="Prodotto.Immagine" class="form-control" />
        <span asp-validation-for="Prodotto.Immagine" class="text-danger"></span>
    </div>
    <div class="form-group my-3">
        <label asp-for="Prodotto.TempoDiConsegna" class="control-label"></label>
        <input asp-for="Prodotto.TempoDiConsegna" class="form-control" />
        <span asp-validation-for="Prodotto.TempoDiConsegna" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Ingredienti (Seleziona fino a 5)</label>

        @for (int i = 0; i < 5; i++)
        {
            <div class="form-group">
                <label for="SelectedIngredienti[@i]">Ingrediente @i</label>
                <select id="SelectedIngredienti[@i]" name="SelectedIngredienti[@i]" class="form-control">
                    <option value="">Seleziona un ingrediente</option>
                    @foreach (var ingrediente in Model.Ingredienti)
                    {
                        <option value="@ingrediente.Id">@ingrediente.Nome</option>
                    }
                </select>
            </div>
        }

        <span asp-validation-for="SelectedIngredienti" class="text-danger"></span>
    </div>

    <div class="form-group mt-4">
        <input type="submit" value="Create" class="btn" />
    </div>
</form>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
