@model S5.Models.Spedizione

@{
    ViewData["Title"] = "CreaSpedizione";
}

<h1>CreaSpedizione</h1>

<h4>Spedizione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreaSpedizione">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SpedizioneID" class="control-label"></label>
                <input asp-for="SpedizioneID" class="form-control" />
                <span asp-validation-for="SpedizioneID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteID" class="control-label"></label>
                <input asp-for="ClienteID" class="form-control" />
                <span asp-validation-for="ClienteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroIdentificativo" class="control-label"></label>
                <input asp-for="NumeroIdentificativo" class="form-control" />
                <span asp-validation-for="NumeroIdentificativo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataSpedizione" class="control-label"></label>
                <input asp-for="DataSpedizione" class="form-control" />
                <span asp-validation-for="DataSpedizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CittaDestinataria" class="control-label"></label>
                <input asp-for="CittaDestinataria" class="form-control" />
                <span asp-validation-for="CittaDestinataria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndirizzoDestinatario" class="control-label"></label>
                <input asp-for="IndirizzoDestinatario" class="form-control" />
                <span asp-validation-for="IndirizzoDestinatario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NominativoDestinatario" class="control-label"></label>
                <input asp-for="NominativoDestinatario" class="form-control" />
                <span asp-validation-for="NominativoDestinatario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Costo" class="control-label"></label>
                <input asp-for="Costo" class="form-control" />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataConsegnaPrevista" class="control-label"></label>
                <input asp-for="DataConsegnaPrevista" class="form-control" />
                <span asp-validation-for="DataConsegnaPrevista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
