@{
    ViewData["Title"] = "Home Page";

    var currentUser = (User.Identity?.IsAuthenticated ?? false) ? User.Identity.Name : "Anonimo";
    var friendlyName = User.Claims.FirstOrDefault(c => c.Type == "FriendlyName")?.Value ?? currentUser;
}

<div class="text-center">
    <h1 class="display-4">Welcome @friendlyName </h1>
    
</div>

<a class="text-dark text-decoration-none" asp-area="" asp-controller="Home" asp-action="AddCliente">
    Aggiungi nuovo cliente
</a>

<p>
    <a class="text-dark text-decoration-none" asp-area="" asp-controller="Home" asp-action="AddPrenotazione">
        Aggiungi nuova prenotazione
    </a>
</p>

<p>
    <a class="text-dark text-decoration-none" asp-area="" asp-controller="Home" asp-action="InserisciCodiceFiscale">
        trova prenotazioni tramite CF
    </a>
</p>

<p>
    <a class="text-dark text-decoration-none" asp-area="" asp-controller="Home" asp-action="Prenotazioni">
       Tutte le prenotazioni
    </a>
</p>

<p>
    <a class="text-dark text-decoration-none" asp-area="" asp-controller="Home" asp-action="PrenotazioniPensioneCompleta">
        Prenotazioni "Pensione Completa"
    </a>
</p>