@{
    ViewData["Title"] = "Prenotazioni Pensione Completa";
}

<h2>@ViewData["Title"]</h2>

<p>Numero totale di prenotazioni per soggiorni di tipo "Pensione Completa": <strong>@ViewBag.TotalePrenotazioni</strong></p>
