

<div class="container mt-5">
    <h1 class="mb-5">Scegli tra i link:</h1>
    <ul class="fs-4">
        <li class="mb-3">
            <a class="text-dark text-decoration-none" asp-area="" asp-controller="Home" asp-action="VerbaliPerTrasgressore">
                Totale dei verbali trascritti raggruppati per trasgressore
            </a>
        </li>
        <li class="mb-3">
            <a class="text-dark text-decoration-none" asp-area="" asp-controller="Home" asp-action="TrasgressorePuntiDecurtati">
                Totale dei punti decurtati raggruppati per trasgressore
            </a>
        </li>
        <li class="mb-3">
            <a class="text-dark text-decoration-none" asp-area="" asp-controller="Home" asp-action="ViolazioniOver10Punti">
                Importo, cognome, nome, data di violazione e decurtamento punti delle violazioni che superano i 10 punti
            </a>
        </li>
        <li class="mb-3">
            <a class="text-dark text-decoration-none" asp-area="" asp-controller="Home" asp-action="ViolazioniOver400Importo">
                Le violazioni il cui importo è maggiore di 400 euro
            </a>
        </li>
    </ul>
</div>