@{
    ViewData["Title"] = "Verbali per Trasgressore";
}



<h1 class="text-center"> Totale Verbali per ogni trasgressore</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id Trasgressore</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Totale Verbali</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td>@t.IdAnagrafica</td>
                <td>@t.Nome</td>
                <td>@t.Cognome</td>
                <td>@t.TotaleVerbali</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>