html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    color:white;
    margin-bottom: 60px;
    background-image: url(https://c8.alamy.com/compit/2pgrb0f/primo-piano-del-logo-footlocker-su-sfondo-nero-foot-locker-il-rivenditore-di-calzature-con-sede-negli-stati-uniti-sta-subendo-una-trasformazione-in-asia-in-quanto-intende-semplificare-il-proprio-modello-di-business-e-concentrarsi-sulle-aree-principali-e-sui-banner-come-parte-di-cio-foot-locker-chiudera-sia-i-suoi-negozi-di-e-commerce-che-i-negozi-di-hong-kong-e-macau-convertendo-tutti-i-suoi-attuali-negozi-di-proprieta-e-self-operated-e-l-e-commerce-di-singapore-e-malesia-in-un-modello-di-licenza-i-risultati-del-quarto-trimestre-2022-di-foot-locker-hanno-rivelato-che-l-azienda-sta-intraprendendo-una-serie-di-azioni-per-snellire-la-propria-modalita-di-business-2pgrb0f.jpg);
}