@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
</div>

<a class="nav-link text-dark" asp-area="" asp-controller="Prodotto" asp-action="GetAllProdotti">Lista Prodotti </a>