@model Utente

<form asp-action="Login">
    <label asp-for="Username" />
    <input asp-for="Username" />
    <br />
    <label asp-for="Password" />
    <input type="password" asp-for="Password" />
    <button>Login</button>
</form>

<p>Oppure <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Registrati</a></p>