@model Utente

<form asp-action="Register">
    <label asp-for="Username">Username</label>
    <input asp-for="Username" />
    <br />
    <label asp-for="Password">Password</label>
    <input type="password" asp-for="Password" />
    <br />
    <button>Register</button>
</form>