@{
    ViewData["Title"] = "Prenotazioni Pensione Completa";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">@ViewData["Title"]</h2>

    <div class="alert alert-info" role="alert">
        Numero totale di prenotazioni per soggiorni di tipo "Pensione Completa":
        <strong>@ViewBag.TotalePrenotazioni</strong>
    </div>


</div>
