@{
    ViewData["Title"] = "Prenotazioni Pensione Completa";
}

<h2>@ViewData["Title"]</h2>

<div id="totalPensioneCompleta">
    <!-- Il totale delle prenotazioni sarà inserito qui tramite jQuery -->
    Numero totale di prenotazioni per soggiorni di tipo "Pensione Completa": <strong>@ViewBag.TotalePrenotazioni</strong>
</div>
